@{
    ViewBag.Title = "About My Wine Tasting";
}
<h2>@ViewBag.Title</h2>
<hr/>
<h3>@ViewBag.Message</h3>

<p><font size="4px">This application is a place for you to organize your blind wine tastings. Start with your tasting date, enter your wine bottle details and enjoy!</font size></p>
