@{
    ViewBag.Title = "About My Wine Tasting";
}
<h2>@ViewBag.Title</h2>
<hr/>
<h3>@ViewBag.Message</h3>
<br />
<p><font size="4">This application is a place for you to organize your blind wine tastings. <br /><br /> STEP 1: Start with your tasting date. <br /> STEP 2: Enter your wine bottle details.  <br /> STEP 3:  You and your guests rate and enjoy!</font size></p>
