@{
    ViewBag.Title = "About My Wine Tasting";
}
<h2>@ViewBag.Title </h2>
<h3>@ViewBag.Message</h3>

<p>This is a place for you to organize your blind wine tastings. Start with your tasting date and enter your wine bottle details and enjoy!</p>
