<body class="mybackgroundcolor">
    @*
    @{
        ViewBag.Title = "Contact Information:";
    }
    *@
    <hr />
    <div style="background-color: rgba(255, 255, 255, .3); padding:1em; color: white">
        <hr />
        <h1><b>Contact Information</b></h1>
        <h2>@ViewBag.Title</h2>
        <hr />
        <h3>@ViewBag.Message </h3>

        <address>
            My Wine Tasting, Inc.<br />
            Indianapolis, Indiana 46202<br />
            <abbr title="Phone">P:</abbr>
            317.123.4567
        </address>

        <address>
            <strong>Support:</strong>   <a style="color: white" href="mailto:Support@example.com">Support@MyWineTasting.com</a><br />
            <strong>Marketing:</strong> <a style="color: white" href="mailto:Marketing@example.com">Marketing@MyWineTasting.com</a>
        </address>
        <hr />
    </div>
</body>