<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1><b>My Wine Tasting</b></h1>
    <p class="lead jtitle col-md-6">
        <b>
            My Wine Tasting is an application developed to help you manage your wine tastings.
        </b>
    </p>
    @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> *@
</div>

<div class="container">
    <p class="jmessage">
        <font size="4">
            <b>
                We hope you enjoy your gathering, have some wonderful wine, and can picture yourself in a beautiful vineyard!
            </b>
        </font>
    </p>

</div>

<div class="row cardgroup">
    <div class="eachcard col-md-3">
        <h2>For Hosts: Enter your Tasting Date</h2>
        <p>
            Get started by entering your Tasting date, followed by your wine list.
        </p>
        <p><a class="startedbutton btn btn-default" href="~/Tasting">Get started &raquo;</a></p>
    </div>
   
    <div class="eachcard col-md-3">
        <h2>For Guests: Find your Tasting and start Rating</h2>
        <p>Find your Host's Tasting date and rate the wines that are being blind tasted.</p><br />
        <p><a class="startedbutton btn btn-default" href="~/Tasting">Get started &raquo;</a></p>
    </div>

    <div class="eachcard col-md-3">
        <h2>For Guests: Learn more about Point Rating a wine</h2>
        <p>Find some general guidelines to help you rate your wines.</p>
        <p><a class="startedbutton btn btn-default" href="~/Home/Learn">Get started &raquo;</a></p>
    </div>
</div>