@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" 
     style="background-image:url('../../Content/Assets/Vineyard.jpg') ; background-size: cover ; border-radius: 25px; height:500px">
    
    <h1><b>My Wine Tasting</b></h1>
    <p class="lead col-md-6" style="background-color: rgba(255, 255, 255, .6) ; color:darkslategray; border-radius: 25px; border:3px; border-style:solid; border-color:rosybrown">
        <b>
    My Wine Tasting is an application developed to help you manage your blind wine tastings.
        </b>
     </p>
   @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> *@
</div>

<div class="container">
    <p  style="border:3px; border-style:solid; border-color:rosybrown; padding: 1em; border-radius: 25px; text-align: center"> 
    <font size="4">
    <b>
    We hope you enjoy your gathering, have some wonderful wine, and can picture yourself in a beautiful vineyard!
    </b>
    </font>
</p>

</div>

<div class="row" style="display:flex; justify-content:space-between; padding: 1rem; align-items:stretch">
    <div class="col-md-3" style="align-items:initial;border:3px; border-style:solid; border-color:rosybrown; padding: 2em; padding-top: 1em; border-radius:25px; margin: 12px">
        <h2>For Hosts: Enter your Tasting Date</h2>
        <p>
            Get started by entering your Tasting date.
        </p>
        <p><a class="btn btn-default"  style="border-radius:15px; background-color:rosybrown; color:antiquewhite; position: absolute; bottom:1rem" href="https://go.microsoft.com/fwlink/?LinkId=301865">Get started &raquo;</a></p>
    </div>
    <div class="col-md-3"  style="align-items:initial; border:3px; border-style:solid; border-color:rosybrown; padding: 2em; padding-top: 1em; border-radius: 25px; margin: 12px">
        <h2>For Hosts: Enter your Wines</h2>
        <p>Continue your planning by entering your wines that will be blind tasted.</p>
        <p><a class="btn btn-default" style="border-radius:15px; background-color:rosybrown; color:antiquewhite; position: absolute; bottom:1rem" href="https://go.microsoft.com/fwlink/?LinkId=301866">Get started &raquo;</a></p>
    </div>
    <div class="col-md-3" style="align-items:initial; border:3px; border-style:solid; border-color:rosybrown; padding: 2em; padding-top: 1em; border-radius: 25px; margin:12px">
        <h2>For Guests: Find your Tasting and start Rating</h2>
        <p>Find your Host's Tasting date and rate the wines that are being blind tasted.</p><br />
        <p><a class="btn btn-default"  style="border-radius:15px; background-color:rosybrown; color:antiquewhite; position: absolute; bottom:1rem" href="https://go.microsoft.com/fwlink/?LinkId=301867">Get started &raquo;</a></p>
    </div>

    <div class="col-md-3"  style="align-items:initial; border:3px; border-style:solid; border-color:rosybrown; padding: 2em; padding-top: 1em; border-radius: 25px; margin: 12px">
        <h2>For Guests: Learn more about Point Rating a wine</h2>
        <p>Find some general guidelines to help you rate your wines.</p>
        <p><a class="btn btn-default"  style="border-radius:15px; background-color:rosybrown; color:antiquewhite; position: absolute; bottom:1rem" href="https://go.microsoft.com/fwlink/?LinkId=301867">Get started &raquo;</a></p>
    </div>
</div>