
@{
    ViewBag.Title = "Learn More";
}

<body class="learnMoreImage">
    <hr />
    <div style="background-color: rgba(255, 255, 255, .7)";>
        <hr />
        <h2>
        <b>General Guidelines for Rating a wine:</b>
        </h2>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Scoring</th>
                    <th scope="col">50-60</th>
                    <th scope="col">61-70</th>
                    <th scope="col">71-80</th>
                    <th scope="col">81-90</th>
                    <th scope="col">91-100</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Appearance</th>
                    <td>Cloudy</td>
                    <td>Dull</td>
                    <td>Clear and Lively</td>
                    <td>Deep and Distinct</td>
                    <td>Definable shade but still clear</td>
                </tr>
                <tr>
                    <th scope="row">Aroma</th>
                    <td>Unpleasant</td>
                    <td>Nondescript</td>
                    <td>Clean</td>
                    <td>Pleasant</td>
                    <td>Terrific</td>

                </tr>
                <tr>
                    <th scope="row">Acidity</th>
                    <td>Acetic/Flat</td>
                    <td>Acetic/Flat</td>
                    <td>Balanced with Fruit</td>
                    <td>Balanced with Fruit</td>
                    <td>Balanced with Fruit</td>
                </tr>
                <tr>
                    <th scope="row">Flavor</th>
                    <td>Unpleasant</td>
                    <td>Flavorless</td>
                    <td>Present but Light/Moderate</td>
                    <td>Full Flavored</td>
                    <td>Special</td>
                </tr>
                <tr>
                    <th scope="row">Astringency/tannins</th>
                    <td>Rough</td>
                    <td>Barely Discernable</td>
                    <td>Smooth</td>
                    <td>Smooth</td>
                    <td>Complex, but pleasant</td>
                </tr>
                <tr>
                    <th scope="row">Aftertaste</th>
                    <td>Fades Quickly</td>
                    <td>Lingers Briefly</td>
                    <td>Long-Lasting</td>
                    <td>"Take another sip"</td>
                    <td>"Perfect wine of varietal"</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>
</body>
